.history-row {

}

.history-row:nth-child(odd) {
	border-bottom: 1px solid #226666;
}

.history-row:nth-child(even) {
	border-bottom: 1px solid #7A9E35;
}

.history-row:last-child {
	border-bottom: 0;
}

.card-container {
	margin: 1rem;
}

.history-content:last-child {
	padding-bottom: 16px;
}